h1 {
    font-size: 40px;
    color: #F7717D;
    
}

body {
    background-color: #666A86;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

textarea {
    width: 25%;
    background-color: #16001E;
    border: none;
    height: 50px;
    font-size: 25px;
    resize: none;
    border-radius: 4px;
    color: #ffffff;
}

button {
    margin-top: 15px;
    width: fit-content;
    height: 40px;
    background-color: #F7717D;
    border-radius: 25%;
    border: none;
    font-size: 20px;
}

img {
    margin-top: 20px;
    display: none;
    max-width: 50%;     
    max-height: 50vh;
    height: auto;
    width: auto;  
}